{% extends 'base.html' %}
{% load static%}
{% block content %}
	<!---page Title --->
	<section class="bg-img pt-150 pb-20" data-overlay="7" style="background-image: url({%static 'images/front-end-img/background/bg-8.jpg' %});">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="text-center">						
						<h2 class="page-title text-white">Contact us</h2>
						<ol class="breadcrumb bg-transparent justify-content-center">
							<li class="breadcrumb-item"><a href="#" class="text-white-50"><i class="mdi mdi-home-outline"></i></a></li>
							<li class="breadcrumb-item text-white active" aria-current="page">Contact us</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Page content -->
	
	<section class="py-50">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-7 col-12">
					<form class="contact-form" action="" method="POST">
						{% csrf_token %}
						<div class="text-start mb-30">
							<h2>Get In Touch</h2>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
						</div>
						<div class="row">
						  <div class="col-md-6">
							<div class="form-group">
							  <input type="text" name="fname" autocomplete="off" autofocus="autofocus" pattern="[A-Za-z]{2,20}" title="Please Enter Characters Only" class="form-control" placeholder="First Name">
							</div>
						  </div>
						  <div class="col-md-6">
							<div class="form-group">
							  <input type="text" name="lname" autocomplete="off" autofocus="autofocus" pattern="[A-Za-z]{2,20}" title="Please Enter Characters Only" class="form-control" placeholder="Last Name">
							</div>
						  </div>
						  <div class="col-md-6">
							<div class="form-group">
							  <input type="email" name="mail"class="form-control" placeholder="Your Email">
							</div>
						  </div>
						  <div class="col-md-6">
							<div class="form-group">
							  <input type="tel" name="phone" pattern="[0-9]{10}" title="Please Enter Numeric Value Only" class="form-control" placeholder="Phone">
							</div>
						  </div>
						  
						  <div class="col-md-6">
							  <div class="form-group">
								  <select class="form-select" name="selected">
									<option name="options"disabled="disabled" selected="selected">Select Courses</option>
									<option value="stocks">Stocks</option>
									<option value="cryptocurrency">CryptoCurrency</option>
									
								  </select>
						  	  </div>
						  </div>
						  <div class="col-lg-12">
						      <div class="form-group">
								<textarea name="message" rows="5" class="form-control" required="required" minlength="10" maxlength="50" placeholder="Message"></textarea>
							  </div>
						  </div>
						  <div class="col-lg-12">
							  <button name="submit" type="submit" value="Submit" class="btn btn-primary"> Send Message</button>
						  </div>
						</div>
					</form>
				</div>
				<div class="col-md-5 col-12 mt-30 mt-md-0">
					<div class="box box-body p-40 bg-dark mb-0">
						<h2 class="box-title text-white">Contact Info</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<div class="widget fs-18 my-20 py-20 by-1 border-light">	
							<ul class="list list-unstyled text-white-80">
								<li class="ps-40"><i class="ti-location-pin"></i>123, Lorem Ipsum, Dummy City,<br>FL-12345 USA</li>
								<li class="ps-40 my-20"><i class="ti-mobile"></i>+(91) 836-081-0127</li>
								<li class="ps-40"><i class="ti-email"></i>niksunder751@gmail.com</li>
							</ul>
						</div>
						<h4 class="mb-20">Follow Us</h4>
						<ul class="list-unstyled d-flex gap-items-1">
							<li><a href="#" class="waves-effect waves-circle btn btn-social-icon btn-circle btn-facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="waves-effect waves-circle btn btn-social-icon btn-circle btn-twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="waves-effect waves-circle btn btn-social-icon btn-circle btn-linkedin"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#" class="waves-effect waves-circle btn btn-social-icon btn-circle btn-youtube"><i class="fa fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1750724.757459597!2d74.27993788455662!3d31.01554115498116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391964aa569e7355%3A0x8fbd263103a38861!2sPunjab!5e0!3m2!1sen!2sin!4v1619795114506!5m2!1sen!2sin" class="map" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>
{% endblock %}