{% extends 'base1.html' %}
{% load static %}
{% block content %}
<div class="container pt-5">
    <div class="row pt-5" >
        <div class="col-md-4"></div>
        <div class="col-md-8 pt-5">
        <form method="POST" action="{% url 'userlogin2' %} "class="text-justify text-center pt-6">
            <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
             <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
             </div>
             <div class="form-group">
                <select class="form-control" name="stocks" required="required"id="exampleFormControlSelect1">
                <option value="">SELECT STOCKS</option>
                <option value="ADANIPORTS">ADANI PORTS</option>
                <option value="ASIANPAINT">ASIAN PAINT</option>
                <option value="AXISBANK">AXIS BANK</option>
                <option value="BAJAJ-AUTO">BAJAJ-AUTO</option>
                <option value="BAJFINANCE">BAJAJ FINANCE</option>
                <option value="BHARTIARTL">BHARTI AIRTEL</option>
                <option value="BPCL">BPCL</option>
                <option value="BRITANNIA">BRITANNIA</option>
                <option value="CIPLA">CIPLA</option>
                <option value="DRREDDY">DR.REDDY</option>
                <option value="HCLTECH">HCLTECH</option>
                <option value="HDFC">HDFC</option>
                <option value="HDFCBANK">HDFCBANK</option>
                <option value="HEROMOTOCO">HERO MOTO CORP</option>
                <option value="HINDUNILVR">HINDUSTAN UNILVER</option>
                <option value="ICICIBANK">ICICI BANK</option>
                <option value="INDUSINDBK">INDUSINDBK</option>
                <option value="INFY">INFY</option>
                <option value="KOTAKBANK">KOTAK BANK</option>
                <option value="MARUTI">MARUTI</option>
                <option value="NESTLEIND">NESTLE INDIA</option>
                <option value="RELIANCE">RELIANCE</option>
                <option value="SBIN">STATE BANK OF IDIAN</option>
                <option value="TATAMOTORS">TATA MOTORS</option>
                <option value="TATASTEEL">TATA STEEL</option>
                <option value="TCS">TATA CONSULTANCY SERVICES</option>
                <option value="TECHM">TECH MAHINDRA</option>
                <option value="TITAN">TITAN</option>
                <option value="ULTRACEMCO">ULTRACEMCO</option>
                <option value="WIPRO">WIPRO</option>
                </select>
            </div>
             <div class="form-group">
            
                <select class="form-control" name="year1" required="required"id="exampleFormControlSelect1">
                    <option value="">SELECT STARTING YEAR</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                </select>
             </div>

             <div class="form-group">

                <select class="form-control"name="year2"required="required" id="exampleFormControlSelect1">
                <option value="">SELECT ENDING YEAR</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                </select>
                </div>
                <div class="form-group">
                    <select class="form-control" name="month1"required="required" id="exampleFormControlSelect1">
                    <option value="">SELECT 1ST MONTH</option>
                    <option value="1">January</option>
                    <option value="2">Feburary</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="month2"required="required" id="exampleFormControlSelect1">
                        <option value="">SELECT 1ST MONTH</option>
                        <option value="1">January</option>
                        <option value="2">Feburary</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                        </select>
                        </div>
                &nbsp;
            {% csrf_token %}
            <input type="submit" name="submit" value="Submit" class="btn btn-primary">
        </form>
        {% if msg %}
        <p style="color: white;">  {{msg}} </p>
          {% endif %}
        </div>
        </div>
        </div>

{% endblock %}